@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
/* NAV BAR */
nav {
  font-size: 15px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  position: relative;
  display: inline-block;
}

nav li {
  list-style-type: none;
}

nav #search {
  height: 15px;
  display: block;
  padding: 13px 10px 0px 0px;
  margin-top: -10px;
  margin-left: -10px;
}

nav img {
  height: 40px;
  float: left;
  padding: 9px 380px;
  display: block;
}

.navbar {
  margin-top: 2px;
  margin-right: 370px;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #0073CF;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #0073CF;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #0073CF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HEADER */
.headerimage {
  height: 380px;
  width: 100%;
  margin: 0 auto;
  background-position: top;
  background-image: url("img/slide-iddink.jpg");
  background-size: cover;
  margin-top: -20px;
}

.headerimage h2 {
  padding-top: 160px;
  padding-left: 390px;
  color: #fff;
  font-weight: 500;
  font-size: 21.25px;
}

#readmore {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  background-color: #0073CF;
  color: #fff;
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  border-radius: 5px;
  display: block;
  margin-left: 630px;
}

footer {
  margin-top: 50px;
  background-color: #0073CF;
  padding-bottom: 50px;
}

footer img {
  height: 40px;
  padding: 50px 390px;
  display: block;
  margin: 0;
}

footer #onderdeel {
  font-size: 14px;
  padding-top: 25px;
  margin-top: -10px;
  color: #fff;
  padding-left: 390px;
  margin-bottom: 0;
}

footer #copyright {
  float: right;
  margin-right: 402px;
  margin-top: -18px;
  color: #fff;
  font-size: 14px;
}

footer ul {
  list-style-type: none;
  margin-top: -100px;
  padding-right: 375px;
  overflow: hidden;
}

footer li {
  float: right;
  text-transform: uppercase;
}

footer li a {
  display: block;
  color: #fff;
  padding: 25px;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
}

.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 45px;
}

.grid #personen1 {
  grid-column: 1;
}

.grid #personen2 {
  grid-column: 2;
}

.grid #personen3 {
  grid-column: 3;
}

.grid #personen4 {
  grid-column: 4;
}

.grid section h3 {
  font-size: 16px;
  color: #0073CF;
  font-weight: 700;
  padding-bottom: 5px;
}

.grid section p {
  font-size: 14px;
  padding-bottom: 5px;
}

.grid section .leesmeer {
  font-size: 14px;
  color: #0073CF;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
}

#watDoenWij {
  text-align: center;
  color: #0073CF;
  font-size: 24px;
}

#watDoenWijTekst {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

#ontdek {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 18px 10px 18px;
  background-color: #0073CF;
  color: #fff;
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#registreer {
  text-align: center;
  color: #0073CF;
  font-size: 14px;
}

#ipad {
  padding-left: 1110px;
  margin-top: -250px;
  padding-bottom: 25px;
}

.winactie {
  background-color: #85BADF;
  opacity: 50%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.winactie p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-left: 385px;
  margin-top: -30px;
}

.winactie #ipad2 {
  margin-left: 700px;
  padding-bottom: 5px;
}

.winactie h3 {
  padding-top: 100px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding-left: 385px;
  margin-bottom: -70px;
}

.winactie button {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 23px 10px 30px;
  background-color: #0073CF;
  color: #fff;
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  border-radius: 5px;
  display: block;
  margin-left: 390px;
  margin-top: 50px;
}

.winactie #ipad3 {
  float: right;
  padding-right: 420px;
}

.contact {
  margin: 0 auto;
  width: 80%;
}

.contact h3 {
  color: #0073CF;
  font-size: 24px;
  margin-left: 36.5%;
}

.contact p {
  text-align: center;
  font-size: 18px;
  padding-left: 240px;
}

.contact button {
  display: block;
  margin-left: 46.5%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  background-color: #0073CF;
  color: #fff;
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  border-radius: 10px;
}

.contact img {
  float: right;
  padding-right: 250px;
}

/*# sourceMappingURL=style.css.map */
